In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data=pd.read_csv('SMSSpamCollection.csv')
data

     ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
0                    ham\tOk lar... Joking wif u oni...
1     spam\tFree entry in 2 a wkly comp to win FA Cu...
2     ham\tU dun say so early hor... U c already the...
3     ham\tNah I don't think he goes to usf, he live...
4     spam\tFreeMsg Hey there darling it's been 3 we...
...                                                 ...
5568  spam\tThis is the 2nd time we have tried 2 con...
5569          ham\tWill ü b going to esplanade fr home?
5570  ham\tPity, * was in mood for that. So...any ot...
5571  ham\tThe guy did some bitching but I acted lik...
5572                    ham\tRofl. Its true to its name

[5573 rows x 1 columns]

In [6]:
print(data.columns)

Index(['ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'], dtype='object')